body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    display: flex;
}

.tier-label {
    width: 100px;
    min-height: 84px;
    display: flex;
    align-items: center;
    background-color: #e0e0e0;
    border: 1px solid black;
}

p {
    width: 100px;
    margin: 0;
    text-align: center;
}

p:focus-visible {
    outline: none;
}

.tier {
    flex-grow: 1;
    background-color: #222;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tier-options {
    display: flex;
    width: 80px;
    align-items: center;
    background-color: black;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    width: 80px;
}

.option {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option.delete {
    grid-row: span 2;
    justify-content: right;
}

.buttons-container {
    text-align: center;
}

button {
    min-width: 100px;
    height: 30px;
    margin: 10px;
}

img {
    cursor: pointer;
}

.images-bar {
    min-height: 90px;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

.image {
    max-height: 80px;
    margin-left: 2px;
    object-fit: cover;
}
