body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.row {
    display: flex;
}

.tier-label {
    position: relative;
    min-height: 84px;
    width: 100px;
    display: flex;
    align-items: center;
    background-color: lightslategray;
    border: 1px solid black;
}

.tier-label:focus-visible {
    outline: none;
    border: 1px solid white;
}

.tooltip:focus-within,
.tier-label:focus-visible .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltip {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 110%;
    transform: translate(0, -50%);
    height: 50px;
    width: 80px;
    background-color: aliceblue;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 300ms;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent aliceblue transparent transparent;
}

.pcr-app {
    max-width: 200px!important;
}

.pcr-button {
    margin: 10px!important;
    background: lightslategray!important;
}

.pcr-button,
.pcr-button::before,
.pcr-button::after {
    height: 30px!important;
    width: 60px!important;
}

p {
    width: 96px;
    margin: 6px 2px;
    text-align: center;
}

.tier {
    flex-grow: 1;
    background-color: #222;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.tier-options {
    display: flex;
    width: 80px;
    align-items: center;
    background-color: black;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
}

.options-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 80px;
    width: 80px;
}

.option {
    height: auto;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option.delete {
    grid-row: span 2;
    justify-content: right;
}

.buttons-container {
    text-align: center;
}

.buttons-container button {
    height: 30px;
    min-width: 100px;
    margin: 10px;
}

img {
    cursor: pointer;
}

.images-bar {
    min-height: 90px;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

.image {
    max-height: 80px;
    margin-left: 2px;
    object-fit: cover;
}
