.button {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	transition: background-color 300ms;
	cursor: pointer;
	margin: 10px;
	border-radius: 3px;
	background-color: var(--buttons-color);
	padding: 7px;
	min-width: 100px;
	color: var(--button-text);
	font-size: 13px;
}

.button:hover {
	background-color: var(--button-hover);
}

.checkbox {
	display: inline-flex;
	align-items: center;
	gap: 5px;
	cursor: pointer;
	margin: 4px;
	padding-block: 6px;
	white-space: nowrap;
}

.checkbox span {
	color: var(--button-text);
	font-size: 15px;
}

input[type="checkbox"] {
	border-radius: 1px;
	background-color: var(--button-text);
	width: 12px;
	height: 12px;
	pointer-events: none;
}

input[type="checkbox"]:checked {
	background-image: url("../assets/check.svg");
	background-color: var(--button-hover);
}
