.tier-options {
	display: flex;
	align-items: center;
	border: 1px solid var(--tier-border);
	background-color: black;
}

.tier-options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 80px;
}

.tier-option-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
}

.tier-option-container-span {
	grid-row: span 2;
	justify-content: right;
}

.tier-option {
	transition: filter 200ms;
	cursor: pointer;
	background-image: var(--option-img);
	width: 32px;
	height: 32px;
}

.tier-option:hover {
	filter: brightness(0.6);
}

.tier-option:focus-visible {
	outline: 1px solid white;
	background-color: #fff2;
}

.tier-option-delete {
	--option-img: url("../assets/trash.svg");
}

.tier-option-up {
	--option-img: url("../assets/chevron-up.svg");
}

.tier-option-down {
	--option-img: url("../assets/chevron-down.svg");
}
