.tier-options {
	display: flex;
	align-items: center;
	border: 1px solid var(--tier-border);
	background-color: var(--black);
}

.options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 80px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: auto;
}

.option.delete {
	--option-img: url("/trash.svg");
	grid-row: span 2;
	justify-content: right;
}

.option.up i {
	--option-img: url("/chevron-up.svg");
}

.option.down i {
	--option-img: url("/chevron-down.svg");
}

.option i {
	-webkit-mask-image: var(--option-img);
	mask-image: var(--option-img);
	transition: background-color 200ms;
	cursor: pointer;
	background-color: white;
	width: 32px;
	height: 32px;
}

.option i:hover {
	background-color: #7f7f7f;
}
