tier-element img {
	vertical-align: top;
	cursor: pointer;
	max-height: 80px;
	object-fit: cover;
}

body.square-img tier-element img {
	width: 80px;
	height: 80px;
}

tier-element.sortable-ghost {
	opacity: 0.2;
}
