@import "./blackout.css";
@import "./export.css";

:root {
	--black: #000;
	--white: #fff;
	--background: #231f20;
	--tooltip: #f0f8ff;
	--tier-bg: #2d292a;
	--option-borders: #111;
	--button-text: #ebe0e3;
	--buttons-color: #4e3239;
	--button-hover: #9c5e6d;
	--buttons-bg: #20181a;
}

body {
	margin: 0;
	background-color: var(--background);
	font-family: Arial, Helvetica, sans-serif;
	-webkit-user-select: none;
	user-select: none;
}

.row {
	display: flex;
}

.tooltip {
	position: absolute;
	top: 50%;
	left: 110%;
	transform: translate(0, -50%);
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms, visibility 0s 300ms;
	border-radius: 6px;
	background-color: var(--tooltip);
	width: 80px;
	height: 50px;
}

.tooltip::before {
	position: absolute;
	top: 50%;
	right: 100%;
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent var(--tooltip) transparent transparent;
	content: "";
}

.tier-label {
	display: flex;
	position: relative;
	align-items: center;
	transition: background-color 300ms;
	border: 1px solid var(--black);
	width: 100px;
	min-height: 80px;
}

.tier-label:focus-visible {
	outline: none;
	border: 1px solid var(--white);
}

.tooltip:focus-within,
.tier-label:focus-visible .tooltip {
	visibility: visible;
	opacity: 1;
	transition: opacity 300ms;
}

.pcr-button {
	margin: 10px !important;
}

.pcr-button,
.pcr-button::before,
.pcr-button::after {
	width: 60px !important;
	height: 30px !important;
}

.pcr-swatches {
	display: flex !important;
	margin-inline: auto;
}

p {
	margin: 6px 2px;
	width: 96px;
	text-align: center;
}

.sort {
	display: flex;
	flex-flow: row wrap;
	gap: 2px;
}

.tier {
	flex-grow: 1;
	border-top: 1px solid var(--black);
	border-bottom: 1px solid var(--black);
	background-color: var(--tier-bg);
}

.tier-options {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--option-borders);
	border-bottom: 1px solid var(--option-borders);
	background-color: var(--black);
	width: 80px;
}

.options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80px;
	height: 80px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: auto;
}

.option.delete {
	grid-row: span 2;
	justify-content: right;
}

.option img {
	transition: filter 200ms;
	cursor: pointer;
}

.option img:hover {
	filter: contrast(0%);
}

.buttons-container {
	border-bottom: 1px solid var(--buttons-color);
	background-color: var(--buttons-bg);
	text-align: center;
}

.button {
	transition: background-color 300ms;
	margin: 10px;
	border: none;
	border-radius: 3px;
	background-color: var(--buttons-color);
	min-width: 100px;
	min-height: 30px;
	color: var(--button-text);
}

.button:hover {
	cursor: pointer;
	background-color: var(--button-hover);
}

label {
	display: inline-block;
	cursor: pointer;
	padding-block: 6px;
	color: var(--button-text);
}

label::before {
	display: inline-block;
	margin-right: 5px;
	border-radius: 1px;
	background-color: var(--button-text);
	width: 11.6px;
	height: 11.6px;
	content: "";
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]:checked + label::before {
	background-image: url("/assets/check.svg");
	background-color: var(--button-hover);
}

.tier-element {
	display: inline-flex;
	vertical-align: top;
	cursor: pointer;
	background-size: contain;
	background-repeat: no-repeat;
	max-height: 80px;
}

#images-bar {
	padding: 10px;
}
