.tier-options {
	display: flex;
	align-items: center;
	border-top: 1px solid var(--option-borders);
	border-bottom: 1px solid var(--option-borders);
	background-color: var(--black);
	width: 80px;
}

.options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	width: 80px;
	height: 80px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: auto;
}

.option.delete {
	grid-row: span 2;
	justify-content: right;
}

.option img {
	transition: filter 200ms;
	cursor: pointer;
}

.option img:hover {
	filter: contrast(0%);
}
