.tier-options {
	display: flex;
	align-items: center;
	border: 1px solid var(--tier-border);
	background-color: var(--black);
}

.options-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	height: 80px;
}

.option {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: auto;
}

.option.delete {
	grid-row: span 2;
	justify-content: right;
}

.option i {
	width: 32px;
	height: 32px;
	transition: filter 200ms;
	cursor: pointer;
}

.option i:hover {
	filter: contrast(0%);
}

.option.delete i {
	background-image: url("../assets/trash.svg");
}

.option.up i {
	background-image: url("../assets/chevron-up.svg");
}

.option.down i {
	background-image: url("../assets/chevron-down.svg");
}
