.tier-label {
	position: relative;
	transition-duration: 300ms;
	transition-property: background-color, color;
	border: 1px solid var(--black);
	width: 100px;
	min-height: 80px;
}

.tier-label:focus-within {
	border: 1px solid var(--white);
}

.label-text {
	display: flex;
	align-items: center;
	padding: 6px 2px;
	height: 100%;
}

.tier-label:focus-within .label-text {
	outline: none;
}

.label-text span {
	width: 100%;
	text-align: center;
}
