.tier-label {
	position: relative;
	transition-duration: 300ms;
	transition-property: background-color, color;
	border: 1px solid var(--tier-border);
	width: 100px;
	min-height: 80px;
}

.label-text {
	display: flex;
	align-items: center;
	padding: 6px 2px;
	height: 100%;
}

.label-text:focus {
	outline: 1px solid var(--white);
}

.label-text span {
	width: 100%;
	text-align: center;
}
